body {
    background-color: #7F7FFF;
    font-family: 'Lacquer', monospace;
    text-align: center;
}

main {
    background:white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0;
    margin-top: 2rem;
    align-items: center;
}

h1 {
    margin: 3rem 1rem 6rem 1rem;
}

.gallery {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.itemLTR {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.itemRTL {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.description {
    flex: 3;
    height: 100%;
    padding: 0.5rem;
}

.image {
    flex: 2;
    height: 100%;
    padding: 0rem;
}

img {
    width: 100%;
}

@media all and (min-width: 800px) {
    .itemLTR {
        flex-flow: row;
    }
    
    .itemRTL {
        flex-flow: row-reverse;
    }
}
  